@model IEnumerable<RTL_Bootstrap_Comprehensive_Test.ViewModels.PersonVM>

@{
    ViewData["Title"] = "Index";
}

<h1>قائمة الأشخاص</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">خلق جديد إبداع جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @{ 
                    DateTime dt = item.CreatedOn.ToLocalTime();
                    @Html.DisplayFor(modelItem => dt)
                }
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id=item.Id  }) |
                @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
